* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  max-width: 1555px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  box-sizing: border-box;
}

/* ----------------- HEADER -------------------*/
header {
  width: 100%;
  min-height: 80px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 10px 10px #08a05c50;
  z-index: 1000;
}
a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: #08a05c;
}
.menu {
  display: none;
}
li {
  list-style: none;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0 3%;
}
header ul li {
  padding: 0 0.5rem;
}
header ul li a {
  font-weight: bold;
}

.cart {
  position: relative;
  cursor: pointer;
  margin: 0 3%;
}
.cart box-icon {
  width: 30px;
  height: 30px;
}
.cart span {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50%;
  background-color: crimson;
}

/*-----------------CARRITO -----------*/
.carritos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
}
.carrito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 8px;
  overflow-x: scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden;
}
.carrito h2 {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.7rem;
}
.carritos.show {
  visibility: visible;
}

.carrito.show {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
  visibility: visible;
}
.carrito__close box-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 0.5rem 0 0 50rem;
}
.carrito__close box-icon:hover {
  fill: crimson;
}
.carrito__center {
  width: 98%;
  margin: 0 auto;
}
.carrito_vacio {
  background-image: url("../src/images/inicio.jpg");
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrito_vacio h2 {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.5rem;
}
.carrito_vacio box-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  transform: all 300ms ease-in-out;
  margin: 1rem 0 0 25.5rem;
}
.carrito__item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 80%;
  margin: 3rem auto;
  box-shadow: 0 1px 10px saddlebrown;
  border-radius: 5px;
}
.carrito__item img {
  width: 8rem;
}
.carrito__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrito__item h3 {
  margin-top: 1.5rem;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.carrito__item .price {
  color: #868a92;
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  margin-top: -3rem;
  margin-left: -26.5rem;
}
.carrito__item box-icon {
  fill: #08a05c;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 0.3rem;
}
.carrito__item .cantidad {
  font-size: 1.5rem;
  font-weight: bold;
}
.carrito__item .remove__item box-icon {
  width: 40px;
  height: 60px;
  fill: crimson;
  margin-top: 1.5rem;
}
.carrito__footer {
  text-align: center;
  padding-bottom: 3rem;
}
.carrito__footer h3 {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.carrito__footer .btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  color: white;
  background-color: #08a05c;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 3rem;
}
.carrito__footer .btn:hover {
  background-color: #0f5c39;
  color: white;
}

/*-----------------INICIO-------------------*/
.inicio {
  background: url("../src/images/fondo-inicio.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inicio .text1 {
  margin-top: 4rem; 
  font-size: 7rem;
  width: 40rem;
  background: #fff;
  padding: 0.5rem;
  text-align: center;
  opacity: 0.8;
}
.servicios {
  min-height: 30vh;
}

.servicios .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9f9f9;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem 2rem;
}

.servicios .box-container .box {
  text-align: center;
  flex: 1 1 25rem;
}

.servicios .box-container .box i {
  font-size: 2rem;
  color: #08a05c;
}

.servicios .box-container .box h3 {
  font-size: 1.5rem;
  color: black;
  padding-top: 1rem;
}

.servicios .box-container .box p {
  font-size: 1rem;
  color: #666;
  padding: 1rem 0;
}

/*----------- PRODUCTOS ------------*/
.coleccion {
  background: url("../src/images/fondo-nike1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.produ {
  font-size: 2.4rem;
  font-weight: 900;
  padding: 7rem 0 0 0;
  text-align: center;
  letter-spacing: 0.5rem;
}
.productos {
  padding: 5rem 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 1rem;
  box-sizing: border-box;
}
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.1);
  border: 6px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  height: 420px;
  background-color: #fff;
}
.producto:hover {
  border: 6px solid #00f48657;
}
.producto__img img {
  width: 310px;
}
.producto__footer {
  padding: 1rem;
}
.producto__footer h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #1a202c;
  font-family: Helvetica, sans-serif;
}
.producto__footer p {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.555);
  text-transform: uppercase;
  font-size: 18px;
}
.producto__footer .price {
  font-size: 2rem;
  color: #1a202c;
}
.productos .bottom {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;
}
.bottom .btn {
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}
.bottom button {
  background-color: #3033d3;
  max-width: 250px;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}
.bottom div {
  background-color: #08a05c;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2.5rem;
  border-radius: 5px;
  margin-right: 1.6rem;
}
.bottom div a {
  color: white;
  font-weight: 700;
}
.bottom div a:hover {
  color: white;
}
/*--------------DETALLES --------------*/
.detalles {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8rem 1rem 0 1rem;
  box-sizing: border-box;
}
.detalles h2 {
  font-size: 2rem;
  width: 100%;
  max-width: 1000px;
  font-family: Helvetica, sans-serif;
  color: #1a202c;
}
.detalles .price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #08a05c;
  margin-bottom: 0.4rem;
}
.detalles .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
  max-width: 350px;
}
.detalles .grid > .nuevo,
.tamano {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-align: center;
}
.detalles .grid .nuevo {
  background-color: #08a05c;
}
.detalles .grid .tamano {
  background-color: #f1365b;
  display: flex;
}
.detalles .grid .tamano p {
  margin-left: 1rem;
}
.detalles .grid .tamano select {
  border: none;
  outline: 0;
  font-size: 1.4rem;
  background-color: #f1365b;
  color: white;
  cursor: pointer;
}
.detalles button {
  max-width: 250px;
  margin: 0.8rem 0 0 0;
  padding: 0.8rem 0.5rem;
  border: none;
  outline: 0;
  background-color: #3033d3;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.detalles img {
  height: 470px;
  object-fit: contain;
  margin-top: -7rem;
  z-index: -1;
}
.detalles input {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2rem;
}
.detalles .description {
  font-size: 1rem;
  max-width: 1300px;
  width: 100%;
  letter-spacing: 1px;
  color: #5f5d5d;
  margin: 0 auto;
  font-weight: 500;
}
.detalles .description b {
  font-size: 1.4rem;
  color: #30333a;
}

/* ------------- RELACIONADO --------- */
.relacionados {
  text-align: center;
  background-color: #2e2e2e;
  color: white;
  max-width: 350px;
  width: 100%;
  margin: 5rem auto -2rem auto;
  padding: 0.5rem 1rem;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
}

/* -------------MEDIA -------------*/
@media only screen and (max-width: 1400px) {
  .carrito__item {
    width: 92%;
  }
  .carrito__close box-icon {
    margin: 2rem 0 0 40rem;
  }
  .carrito_vacio box-icon {
    margin: 1rem 0 0 21rem;
  }
  .carrito__item h3 {
    font-size: 1.2rem;
  }
  .carrito__item .price {
    color: #868a92;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: start;
    margin-top: -2rem;
    margin-left: -28rem;
  }
}
@media only screen and (max-width: 1000px) {
  .carrito__item {
    width: 92%;
  }
  .carrito__close box-icon {
    margin: 2rem 0 0 32rem;
  }
  .carrito_vacio box-icon {
    margin: 1rem 0 0 16.5rem;
  }
  .carrito__item h3 {
    font-size: 1rem;
  }
  .carrito__item .price {
    color: #868a92;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: start;
    margin-top: -1.5rem;
    margin-left: -20rem;
  }
}
@media only screen and (max-width: 888px) {
  .detalles input {
    margin-top: -6rem;
  }
  .carrito__close box-icon {
    margin: 1.5rem 0 0 25rem;
  }
  .carrito_vacio box-icon {
    margin: 1rem 0 0 13rem;
  }
  .carrito__item h3 {
    font-size: 0.8rem;
  }
  .carrito__item .price {
    color: #868a92;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: start;
    margin-top: -1.5rem;
    margin-left: -19rem;
  }
  .bottom button {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 700px) {
  .carrito {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .carrito__item h3 {
    font-size: 1.3rem;
  }
  .carrito__close box-icon {
    margin: 2.5rem 0 0 35rem;
  }
  .carrito_vacio box-icon {
    margin: 1rem 0 0 19rem;
  }
  .coleccion {
    background: none;
  }
}
@media only screen and (max-width: 663px) {
  .detalles input {
    margin-top: -8rem;
  }
  .carrito__close box-icon {
    margin: 2.5rem 0 0 31rem;
  }
  .carrito_vacio box-icon {
    margin: 1rem 0 0 17rem;
  }
}

@media only screen and (max-width: 570px) {
  header ul {
    margin: 0 2%;
  }
  .cart {
    margin: 0 5%;
  }
  .productos {
    padding: 0;
  }
  .detalles input {
    margin-top: 0rem;
  }
  .detalles img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: -1rem auto;
  }
  .producto {
    margin: 0 1rem;
  }
  .produ {
    margin-bottom: 1rem;
  }
  .relacionados {
    margin: 4rem auto;
  }

  .carrito__close box-icon {
    margin: 2.5rem 0 0 28rem;
  }
  .carrito_vacio box-icon {
    margin: 1rem 0 0 15rem;
  }
  .carrito__item h3 {
    font-size: 1rem;
  }
  .carrito__item .price {
    color: #868a92;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: start;
    margin-top: -1.7rem;
    margin-left: -20rem;
  }
  .inicio .text1 {
    margin-top: 5rem; 
    font-size: 3.5rem;
    width: 30rem;
    background: #fff;
    padding: 0.5rem;
    text-align: center;
    opacity: 0.8;
  }
}
@media only screen and (max-width: 450px) {
  .carrito__item h3 {
    font-size: 0.8rem;
  }
  .carrito__item .price {
    color: #868a92;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: start;
    margin-top: -2rem;
    margin-left: -16.5rem;
  }
  .carrito__item .remove__item {
    width: 20px;
    height: 20px;
  }
  .carrito__item box-icon {
    width: 25px;
    height: 25px;
  }
  .detalles .grid > .nuevo,
  .tamano {
    padding: 1rem 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
  }
  .detalles .grid .tamano select {
    font-size: 1.2rem;
  }
  .detalles img {
    width: 300px;
    width: 100%;
  }
  .detalles {
    padding: 7rem 1rem 0 1rem;
  }
  .carrito h2 {
    font-size: 1.4rem;
  }
  .carrito_vacio h2 {
    font-size: 1.2rem;
  }
  .carrito__close box-icon {
    margin: 3rem 0 0 19rem;
  }
  .carrito_vacio box-icon {
    margin: 1rem 0 0 10rem;
  }
  .inicio .text1 {
    margin-top: 5rem; 
    font-size: 3.5rem;
    width: 20rem;
    background: #fff;
    padding: 0.5rem;
    text-align: center;
    opacity: 0.8;
  }
  .producto {
    height: 440px;
  }
}
